body {
    text-align: center;
    background-image: url("elements/main-background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#msg-box h2 {
    color: #ccc;
}

#logo {
    align-items: center;
}

.pl-side-box {
    margin: auto 10%;
    padding: auto 10%;
}

#main-battle-screen {
    background-color: #fff;
    padding-left: 25%;
    padding-right: 25%;
}

#game-end-screen {
    /* display: none; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(.3rem);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-end-msg {
    font-size: 2.3rem;
    margin: 15px;
}

#new-game-btn {
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: 10px 5px;
}

#new-game-btn:hover {
    background-color: black;
    color: white;
    border: white
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 55%;
}

.pl-side-box {
    margin: 10px;
    padding: 10px;
    background-color: #ccc;
}


#msg-box {
    text-align: center;
    margin: 10px auto;
}

button {
    cursor: grabbing;
}

.pl-btns-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.pl-btn {
    margin: 3px;
    padding: 3px;
}

#game-btns-container {
    text-align: center;
    margin: 10px;
}

.game-btns {
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10%;
}

#game-mode {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(.3rem);
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pl-mode-btns {
    padding: 50px;
    position: relative;
    margin-top: 200px;
    font-size: 2rem;
    width: 30%;
}

#music {
    height: 45px;
    width: 150px;
    margin: auto;
}

/* #restart-btn {
    background-image: url("bottom_buttons/btn_center.png"); */
/* } */

.hide {
    display: none;
}

.display-flex {
    display: flex;
}
