body {
    text-align: center;
    background-image: url("elements/main-background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

header {
display: flex;
}


#msg-box h2 {
    color: #fff;
}

#logo {
    align-items: center;
}

.pl-side-box {
    margin: auto 10%;
    padding: auto 10%;
}


#game-end-screen {
    /* display: none; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(.3rem);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-end-msg {
    font-size: 2.3rem;
    margin: 15px;
}

#new-game-btn {
    font-size: 1rem;
    background-color: white;
    border: 1px solid black;
    padding: 10px 5px;
}

#new-game-btn:hover {
    background-color: black;
    color: white;
    border: white
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 55%;
}

#main-battle-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

#pl-img-box {
    display: flex;
    width: 100%;
    align-self: center;
}

#pl-one-img {
    display: flex;
    width: 300px;
    height: 30%;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
}

#pl-two-img {
    display: flex;
    width: 300px;
    height: 30%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.pl-side-box {
    color:#fff;
    margin: 10px;
    padding: 10px;
    min-width: 25%;
}


#msg-box {
    text-align: center;
    margin: 10px auto;
}

button {
    cursor: grabbing;
    border: none;
    width: 15%;
    height: 50px;
    min-width: 120px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #c6c6c6 1px 1px;
    color: #000;
    line-height: 48px;
    background: url("bottom_buttons/modal_button_left_gray.jpg") left no-repeat, url("bottom_buttons/modal_button_right_grey.jpg") right no-repeat, url("bottom_buttons/modal_button_repeat_grey.jpg") repeat-x;
    
}

button:hover {
    text-shadow: #801b1b 1px 1px;
    color: #fff;
    background: url("bottom_buttons/modal_button_left_red.jpg") left no-repeat, url("bottom_buttons/modal_button_right_red.jpg") right no-repeat, url("bottom_buttons/modal_button_repeat_red.jpg") repeat-x;
}

.pl-btns-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.pl-btn {
    align-self: center;
    margin: 3px;
    padding: 3px;
}

#game-btns-container {
    text-align: center;
    margin: 10px;
}

.game-btns {
    text-align: center;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 5%;
}

#game-mode {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(.3rem);
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pl-mode-btns {
    padding: 50px;
    position: relative;
    margin-top: 200px;
    font-size: 2rem;
    width: 30%;
}

#pl-vs-pl {
    height: 250px;
    background: none;
}

#pl-vs-comp {
    height: 250px;
    background: none;
}

#pl-vs-pl:hover {
    background-color: #801b1b;
}
#pl-vs-comp:hover {
    background-color: #801b1b;
}

#game-music {
    height: 45px;
    width: 250px;
    margin: auto;
}

.hide {
    display: none;
}

.display-flex {
    display: flex;
}

/* To Do later

/* #restart-btn {
    background-image: url("bottom_buttons/btn_center.png"); */
    /* } */
    
    /* #pl-health-bars {
        margin-left: 10%;
        align-content: center;
        color: red;
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
    }
    
    #pl-one-health-pnts {
        height: 50px;
        width: 800px;
        margin-right: 500px;
    }
    
    #pl-two-health-pnts {
        width: 25%;
        margin-left: 500px;
    } */